#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
  .App {

    display: flex;
    flex-direction: column;

    h3:last-of-type  {
      margin-top: 0;
    }
  }

  .multi-list {

    @media (min-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
    }
  }
}

select {
  min-width: 200px;
  padding: 20px;
  border-radius: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttons {

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 500px) {
  
    margin: 15px 0;
  }

  .single-to-right,
  .single-to-left {

    background-color: #3BACAB;
  }

  .all-to-right,
  .all-to-left {

    background-color: #6D757C;
  }

  button {
    color: #FFFFFF;
    width: 60px;
  }

  button:not(:last-child) {

    margin-bottom: 10px;
  }

  // 6D757C
}
