#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
  .App {

    @media (min-width: 500px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 500px;
    }
  }
}

select {
  min-width: 200px;
  padding: 20px;
  border-radius: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttons {

  display: flex;
  flex-direction: column;
}
